.containerTopo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0 20px;
  color: #b2987d;
}
.containerTopo img {
  width: 100px;
  height: 100px;
}


